APP_ENV=production
APP_DEBUG=false

DB_HOST=db
DB_PORT=3306
DB_NAME=affiliate_system
DB_USER=affiliate
DB_PASS=${APP_AFFILIATE_OFFERS_DB_PASSWORD}
MYSQL_BIN_DIR=/usr/bin

ADMIN_BOOTSTRAP_EMAIL=admin@umbrel.local
ADMIN_BOOTSTRAP_PASSWORD=${APP_PASSWORD}

ML_OAUTH_ENABLED=false
ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_REDIRECT_URI=
